ion-note{
    color: #080080;
    font-size: 14px;
  }
  .comment-text {
    white-space: normal;
    word-wrap: break-word;
  }
  
  
  // .logo-image {
  //   width: 50px; 
  //   height: 50px; 
  //   border-radius: 20px;
  // }
  
  
  // .back{
  //     float: left;
  //     // color: #000080;
  //   }
    
  //   .bu{
  //     // border: 1px solid blueviolet;
  //     float: right;
  //   }
  //   .menu{
  //     cursor: pointer;
  //     float: right;
  //     // color: #000080;
      
  //   }
  
   