
// .logo-image {
//   width: 50px; 
//   height: 50px; 
//   border-radius: 20px;
// }



// .back{
//     float: left;
//     // color: #000080;
//   }
  
//   .bu{
//     // border: 1px solid blueviolet;
//     float: right;
//   }
//   .menu{
//     cursor: pointer;
//     float: right;
//     // color: #000080;
    
//   }

  .flex{
    // color: #000080;
    display: flex;
    margin: 10px;
    font-weight: 600;
    // border:1px solid yellow;
  }
  // .tit{
  //   border: 1px solid red;
  // }
  .icon{
    // border: 1px solid blue;
    font-size: 25px;
    margin-left: 20px;
  }

  .search{
    cursor: pointer;
    // color: #a35504;
    font-size: 18px;
    float: right;
    // margin-top: 10px;
    // margin-left: 100%;
  }
