<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
          <ion-avatar>
            <img [src]="imageSrc" class="logo-image" alt="Logo">
          </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="end">
      <div *ngIf="supervisorStatus">
        <ion-buttons slot="start">
          <ion-icon routerLink="/leave-application" style="margin-left: 15px;" slot="start" name="notifications"></ion-icon>
          <ion-badge routerLink="/leave-application" slot="start" color="danger" 
          style="position: absolute;margin-bottom:30px;border-radius: 10px;margin-left: 15px;">{{this.dataService.getpacount}}
          </ion-badge>
          <ion-button routerLink="/search" slot="start">
            <ion-icon slot="start" name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
        
      </div>
      <ion-menu-button slot="end" class="menu"></ion-menu-button>
    </ion-buttons>
 </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="apply">
  <h3 class="title">Leave Details</h3>
  <div style="margin-top: 30px;">
    <form>
      <div class="center">  
      <ion-item-divider class="phone">
      
        {{resConfig["emp_from"]}}<ion-input  class="no"  #f3="ngModel"  type="text" (ionFocus)="openDatePicker('start_date')"
         [(ngModel)]="start_date"  name="first3" required></ion-input>

      </ion-item-divider>
      <ion-item-divider class="phone">
        {{resConfig["emp_to"]}}
        <ion-input  class="no" style="width: 40%;"  #f4="ngModel"  [(ngModel)]="end_date" type="text"  (ionFocus)="openDatePicker('end_date')"
        name="first4" required></ion-input>
      </ion-item-divider>
      <ion-item-divider class="phone">
        {{ resConfig.emp_leave_type }}
        <ion-select style="margin-left: 30px;"  #f2="ngModel" name="first2" [(ngModel)]="leave_type">
          <ng-container *ngFor="let lt of leavetype">
            <ion-select-option [value]="lt.id">{{ lt.value }}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item-divider>
      <ion-item-divider class="phone">
        {{resConfig.emp_reason}}
        <ion-input class="no"  #f5="ngModel"  [(ngModel)]="leave_reason" type="text" 
        name="first5" required></ion-input>

      </ion-item-divider>
    </div>
    
    
    <div style="margin-right: 10px;">
      <ion-button class="right" name="2"  style="float: right;" 
      (click)="saveRecord()">Create Leave</ion-button>
    </div>
    </form>
  </div>
</ion-content>
<ion-tab-bar class="tab" slot="bottom">
    <ion-tab-button tab="Order History" routerLink="/holidays">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label>Holidays</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="View Brouchure" routerLink="/sup-dashboard">
      <ion-icon name="person"></ion-icon>
      <ion-label>Sup-Dash</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="login" routerLink="/eol">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>EOL</ion-label>
    </ion-tab-button>
</ion-tab-bar>