<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
          <ion-avatar>
            <img [src]="imageSrc" class="logo-image" alt="Logo">
          </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="end">

      <ion-menu-button slot="end" class="menu"></ion-menu-button>
    </ion-buttons>
 </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="apply">
  <h3 class="title">Plan Details</h3>
  <div > 
    <form>
    <div class="center">   
      <ion-item-divider class="phone">
        {{resConfig["emp_from"]}}
        <ion-input class="no" #f3="ngModel" [(ngModel)]="start_date" type="text" name="first3" required
          (ionFocus)="openDatePicker('start_date')"></ion-input>
      </ion-item-divider>
      
      <ion-item-divider class="phone">
        {{resConfig["emp_to"]}}
        <ion-input class="no" #f4="ngModel" [(ngModel)]="end_date" type="text" name="first4" required
          (ionFocus)="openDatePicker('end_date')"></ion-input>
      </ion-item-divider>
      
      <ion-item-divider class="phone">
        {{ resConfig.emp_leave_type }}
        <ion-select style="margin-left: 30px;"  #f2="ngModel" name="first2" [(ngModel)]="leave_type">
          <ng-container *ngFor="let lt of leavetype">
            <ion-select-option [value]="lt.id">{{ lt.value }}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item-divider>

      <ion-item-divider class="phone">
        {{resConfig.emp_reason}}
        <ion-input  class="no"   #f5="ngModel"  [(ngModel)]="reason" type="text" 
         name="first5" required></ion-input>

      </ion-item-divider>
    </div>
    <br>
    <div style="margin-right: 10px;">
      <ion-button class="right" name="2"  style="float: right;" 
      (click)=" PlanedDate()">Plan Leave</ion-button>
    </div>
    </form>
  </div>
</ion-content>
<ion-tab-bar class="tab" slot="bottom">
  <ion-tab-button tab="Order History" routerLink="/apply-leave">
    <ion-icon name="add-circle-outline"></ion-icon>
    <ion-label>Apply Leave</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="return" routerLink="/emp-dashboard">
    
    <ion-icon name="person"></ion-icon>
        <ion-label>DashBoard</ion-label> 
  </ion-tab-button>
  <ion-tab-button tab="View Brouchure" routerLink="/permission-apply">
    <ion-icon name="logo-pinterest"></ion-icon>
    <ion-label>Permission</ion-label>
  </ion-tab-button>
  </ion-tab-bar>
   
  
