ion-note{
    color: #080080;
    font-size: 14px;
  }
  .comment-text {
    white-space: normal;
    word-wrap: break-word;
  }
  // .logo-image {
  //   width: 50px; 
  //   height: 50px; 
  //   border-radius: 20px;
  // }
 