// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

// @media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body[color-theme="warning"] {
    --ion-color-primary: #4C8379;
    --ion-color-primary-rgb: 76,131,121;
    --ion-color-primary-contrast: #E1DDBF;
    --ion-color-primary-contrast-rgb: 225,221,191;
    --ion-color-primary-shade: #378576;
    --ion-color-primary-tint: #3f8a7c;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body[color-theme="warning"] {
    --ion-background-color: #04253A;
    --ion-background-color-rgb: 4,37,58;
    // --ion-datetime-background-color:#e1e423;
    // --ion-datetime-background-color-rgb:4,37,58;

    --ion-text-color: #E1DDBF;
    --ion-text-color-rgb: 255,221,191;

    --ion-color-step-50: #04253A;
    --ion-color-step-100: #095686;
    --ion-color-step-150: #0a6096;
    --ion-color-step-200: #085b8f;
    --ion-color-step-250: #056eaf;
    --ion-color-step-300: #06629b;
    --ion-color-step-350: #0c8edf;
    --ion-color-step-400: #0e96eb;
    --ion-color-step-450: #0d8bda;
    --ion-color-step-500: #0d91e4;
    --ion-color-step-550: #1090df;
    --ion-color-step-600: #0e99f0;
    --ion-color-step-650: #3bacf1;
    --ion-color-step-700: #78c6f7;
    --ion-color-step-750: #a1d5f5;
    --ion-color-step-800: #cce1ee;
    --ion-color-step-850: #edf5fa;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #4C8379;

    --ion-card-background: #4C8379;
    --ion-card-subtitle-color:#E1DDBF;
    --ion-card-subtitle-color-rgb:255,221,191;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body[color-theme="warning"] {
    --ion-background-color: #04253A;
    --ion-background-color-rgb: 18,18,18;

    // --ion-datetime-background-color:#b5df20;
    // --ion-datetime-background-color-rgb:4,37,58;

    --ion-card-subtitle-color:#E1DDBF;
    --ion-card-subtitle-color-rgb:255,221,191;

    --ion-text-color: #E1DDBF;
    --ion-text-color-rgb: 255,221,191;

    --ion-border-color: #4C8379;

    --ion-color-step-50:  #f6f9fc;
    --ion-color-step-100: #f1f6fa;
    --ion-color-step-150: #f1f4f7;
    --ion-color-step-200: #f9fdff;
    --ion-color-step-250: #e2e7eb;
    --ion-color-step-300: #e6eaec;
    --ion-color-step-350: #dfe6eb;
    --ion-color-step-400: #f0f4f7;
    --ion-color-step-450: #eff1f1;
    --ion-color-step-500: #e7eef3;
    --ion-color-step-550: #e7ebee;
    --ion-color-step-600: #e5eff5;
    --ion-color-step-650: #edf2f5;
    --ion-color-step-700: #f1f6fa;
    --ion-color-step-750: #e4ecf1;
    --ion-color-step-800: #cce1ee;
    --ion-color-step-850: #edf5fa;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;


    --ion-item-background: #4C8379;

    --ion-toolbar-background: #4C8379;

    --ion-tab-bar-background: #4C8379;

    --ion-card-background: #4C8379;
  }
  .ios body[color-theme="dark"] {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body[color-theme="dark"] {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }

  body[color-theme="crystal"] {
    --ion-color-primary: #0334539;
    --ion-color-primary-rgb: 3,52,83;
    --ion-color-primary-contrast: #E1DDBF;
    --ion-color-primary-contrast-rgb: 225,221,191;
    --ion-color-primary-shade: #1c587e;
    --ion-color-primary-tint: #05639e;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body[color-theme="crystal"] {
    --ion-background-color: #27C3F3;
    --ion-background-color-rgb: 39,195,243;
    // --ion-datetime-background-color:#e1e423;
    // --ion-datetime-background-color-rgb:4,37,58;

    --ion-text-color: #E1DDBF;
    --ion-text-color-rgb: 255,221,191;

    --ion-color-step-50: #033453;
    --ion-color-step-100: #095686;
    --ion-color-step-150: #0a6096;
    --ion-color-step-200: #085b8f;
    --ion-color-step-250: #056eaf;
    --ion-color-step-300: #06629b;
    --ion-color-step-350: #0c8edf;
    --ion-color-step-400: #0e96eb;
    --ion-color-step-450: #0d8bda;
    --ion-color-step-500: #0d91e4;
    --ion-color-step-550: #1090df;
    --ion-color-step-600: #0e99f0;
    --ion-color-step-650: #3bacf1;
    --ion-color-step-700: #78c6f7;
    --ion-color-step-750: #a1d5f5;
    --ion-color-step-800: #cce1ee;
    --ion-color-step-850: #edf5fa;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #033453;

    --ion-card-background: #033453;
    --ion-card-subtitle-color:#E1DDBF;
    --ion-card-subtitle-color-rgb:255,221,191;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body[color-theme="crystal"] {
    --ion-background-color: #27C3F3;
    --ion-background-color-rgb: 39,195,243;

    // --ion-datetime-background-color:#b5df20;
    // --ion-datetime-background-color-rgb:4,37,58;

    --ion-card-subtitle-color:#E1DDBF;
    --ion-card-subtitle-color-rgb:255,221,191;

    --ion-text-color: #E1DDBF;
    --ion-text-color-rgb: 255,221,191;

    --ion-border-color: #033453;

    --ion-color-step-50: #033453;
    --ion-color-step-100: #095686;
    --ion-color-step-150: #0a6096;
    --ion-color-step-200: #085b8f;
    --ion-color-step-250: #056eaf;
    --ion-color-step-300: #06629b;
    --ion-color-step-350: #0c8edf;
    --ion-color-step-400: #0e96eb;
    --ion-color-step-450: #0d8bda;
    --ion-color-step-500: #0d91e4;
    --ion-color-step-550: #1090df;
    --ion-color-step-600: #0e99f0;
    --ion-color-step-650: #3bacf1;
    --ion-color-step-700: #78c6f7;
    --ion-color-step-750: #a1d5f5;
    --ion-color-step-800: #cce1ee;
    --ion-color-step-850: #edf5fa;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #033453;

    --ion-toolbar-background: #033453;

    --ion-tab-bar-background: #033453;

    --ion-card-background: #033453;
  }
  body[color-theme="lightTheme1"] {
     /** primary **/
  --ion-color-primary: #4E8B7D;
  --ion-color-primary-rgb: 78,139,125;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0a614d;
  --ion-color-primary-tint: #034132;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body[color-theme="lightTheme1"] {
    --ion-background-color: #E5DEC7;
    --ion-background-color-rgb: 229,222,199;
    // --ion-datetime-background-color:#e1e423;
    // --ion-datetime-background-color-rgb:4,37,58;

    --ion-text-color: #4E8B7D;
    --ion-text-color-rgb: 78,139,125;

    --ion-color-step-50:  #f8fcfb;
    --ion-color-step-100: #daf5ef;
    --ion-color-step-150: #909795;
    --ion-color-step-200: #626866;
    --ion-color-step-250: #75817e;
    --ion-color-step-300: #677a76;
    --ion-color-step-350: #85a09a;
    --ion-color-step-400: #869e98;
    --ion-color-step-450: #6a9188;
    --ion-color-step-500: #80c0b1;
    --ion-color-step-550: #99d8c9;
    --ion-color-step-600: #6bb9a7;
    --ion-color-step-650: #8de6d1;
    --ion-color-step-700: #8bf7dd;
    --ion-color-step-750: #a4ecdc;
    --ion-color-step-800: #30524a;
    --ion-color-step-850: #2e6458;
    --ion-color-step-900: #0b4e3f;
    --ion-color-step-950: #042e24;

    --ion-item-background: #E5DEC7;

    --ion-card-background: #E5DEC7;
    --ion-card-subtitle-color:#E1DDBF;
    --ion-card-subtitle-color-rgb:255,221,191;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body[color-theme="lightTheme1"] {
    --ion-background-color: #E5DEC7;
    --ion-background-color-rgb: 229,222,199;
    // --ion-datetime-background-color:#e1e423;
    // --ion-datetime-background-color-rgb:4,37,58;

    --ion-text-color: #4E8B7D;
    --ion-text-color-rgb: 78,139,125;

    --ion-color-step-50:  #f8fcfb;
    --ion-color-step-100: #daf5ef;
    --ion-color-step-150: #909795;
    --ion-color-step-200: #626866;
    --ion-color-step-250: #75817e;
    --ion-color-step-300: #677a76;
    --ion-color-step-350: #85a09a;
    --ion-color-step-400: #869e98;
    --ion-color-step-450: #6a9188;
    --ion-color-step-500: #80c0b1;
    --ion-color-step-550: #99d8c9;
    --ion-color-step-600: #6bb9a7;
    --ion-color-step-650: #8de6d1;
    --ion-color-step-700: #8bf7dd;
    --ion-color-step-750: #a4ecdc;
    --ion-color-step-800: #30524a;
    --ion-color-step-850: #2e6458;
    --ion-color-step-900: #0b4e3f;
    --ion-color-step-950: #042e24;

    --ion-item-background: #E5DEC7;

    --ion-card-background: #EAF1A9;
    --ion-card-subtitle-color:#EAF1A9;
    --ion-card-subtitle-color-rgb:234,241,169;
    --ion-item-background:#E5DEC7;

    --ion-toolbar-background: #EAF1A9;

    --ion-tab-bar-background: #EAF1A9;

    --ion-card-background: #E5DEC7;
  }
  body[color-theme="lightTheme2"] {
    /** primary **/
 --ion-color-primary: #3880ff;
 --ion-color-primary-rgb: 56, 128, 255;
 --ion-color-primary-contrast: #ffffff;
 --ion-color-primary-contrast-rgb: 255, 255, 255;
 --ion-color-primary-shade: #3171e0;
 --ion-color-primary-tint: #4c8dff;

 /** secondary **/
 --ion-color-secondary: #3dc2ff;
 --ion-color-secondary-rgb: 61, 194, 255;
 --ion-color-secondary-contrast: #ffffff;
 --ion-color-secondary-contrast-rgb: 255, 255, 255;
 --ion-color-secondary-shade: #36abe0;
 --ion-color-secondary-tint: #50c8ff;

 /** tertiary **/
 --ion-color-tertiary: #5260ff;
 --ion-color-tertiary-rgb: 82, 96, 255;
 --ion-color-tertiary-contrast: #ffffff;
 --ion-color-tertiary-contrast-rgb: 255, 255, 255;
 --ion-color-tertiary-shade: #4854e0;
 --ion-color-tertiary-tint: #6370ff;

 /** success **/
 --ion-color-success: #2dd36f;
 --ion-color-success-rgb: 45, 211, 111;
 --ion-color-success-contrast: #ffffff;
 --ion-color-success-contrast-rgb: 255, 255, 255;
 --ion-color-success-shade: #28ba62;
 --ion-color-success-tint: #42d77d;

 /** warning **/
 --ion-color-warning: #ffc409;
 --ion-color-warning-rgb: 255, 196, 9;
 --ion-color-warning-contrast: #000000;
 --ion-color-warning-contrast-rgb: 0, 0, 0;
 --ion-color-warning-shade: #e0ac08;
 --ion-color-warning-tint: #ffca22;

 /** danger **/
 --ion-color-danger: #eb445a;
 --ion-color-danger-rgb: 235, 68, 90;
 --ion-color-danger-contrast: #ffffff;
 --ion-color-danger-contrast-rgb: 255, 255, 255;
 --ion-color-danger-shade: #cf3c4f;
 --ion-color-danger-tint: #ed576b;

 /** dark **/
 --ion-color-dark: #222428;
 --ion-color-dark-rgb: 34, 36, 40;
 --ion-color-dark-contrast: #ffffff;
 --ion-color-dark-contrast-rgb: 255, 255, 255;
 --ion-color-dark-shade: #1e2023;
 --ion-color-dark-tint: #383a3e;

 /** medium **/
 --ion-color-medium: #92949c;
 --ion-color-medium-rgb: 146, 148, 156;
 --ion-color-medium-contrast: #ffffff;
 --ion-color-medium-contrast-rgb: 255, 255, 255;
 --ion-color-medium-shade: #808289;
 --ion-color-medium-tint: #9d9fa6;

 /** light **/
 --ion-color-light: #f4f5f8;
 --ion-color-light-rgb: 244, 245, 248;
 --ion-color-light-contrast: #000000;
 --ion-color-light-contrast-rgb: 0, 0, 0;
 --ion-color-light-shade: #d7d8da;
 --ion-color-light-tint: #f5f6f9;
 }

 /*
  * iOS Dark Theme
  * -------------------------------------------
  */

//  .ios body[color-theme="lightTheme2"] {
//    --ion-background-color: #025196;
//    --ion-background-color-rgb: rgb(2, 81, 150);
//    // --ion-datetime-background-color:#e1e423;
//    // --ion-datetime-background-color-rgb:4,37,58;

//    --ion-text-color: #FDB338;
//    --ion-text-color-rgb: rgb(253, 179, 56);

//    --ion-color-step-50:  #025196;
//    --ion-color-step-100: #025196;
//    --ion-color-step-150: #2a87da;
//    --ion-color-step-200: #bbdaf5;
//    --ion-color-step-250: #025196;
//    --ion-color-step-300: #025196;
//    --ion-color-step-350: #025196;
//    --ion-color-step-400: #025196;
//    --ion-color-step-450: #025196;
//    --ion-color-step-500: #025196;
//    --ion-color-step-550: #025196;
//    --ion-color-step-600: #025196;
//    --ion-color-step-650: #d4e5f5;
//    --ion-color-step-700: #90c4f1;
//    --ion-color-step-750: #bfdefa;
//    --ion-color-step-800: #d9ecfc;
//    --ion-color-step-850: #a2afb9;
//    --ion-color-step-900: #c8dbec;
//    --ion-color-step-950: #d3e6f7;

//    --ion-item-background: #E5DEC7;

//    --ion-card-background: #E5DEC7;
//    --ion-card-subtitle-color:#E1DDBF;
//    --ion-card-subtitle-color-rgb:255,221,191;
//  }

 .ios ion-modal {
   --ion-background-color: var(--ion-color-step-100);
   --ion-toolbar-background: var(--ion-color-step-150);
   --ion-toolbar-border-color: var(--ion-color-step-250);
 }


 /*
  * Material Design Dark Theme
  * -------------------------------------------
  */

 .md body[color-theme="lightTheme2"] {
  --ion-background-color: #025196;
  --ion-background-color-rgb: rgb(2, 81, 150);
   // --ion-datetime-background-color:#e1e423;
   // --ion-datetime-background-color-rgb:4,37,58;

   --ion-text-color: #FDB338;
   --ion-text-color-rgb: rgb(253, 179, 56);

   --ion-color-step-50:  #025196;
   --ion-color-step-100: #025196;
   --ion-color-step-150: #2a87da;
   --ion-color-step-200: #bbdaf5;
   --ion-color-step-250: #025196;
   --ion-color-step-300: #025196;
   --ion-color-step-350: #025196;
   --ion-color-step-400: #025196;
   --ion-color-step-450: #025196;
   --ion-color-step-500: #025196;
   --ion-color-step-550: #025196;
   --ion-color-step-600: #025196;
   --ion-color-step-650: #d4e5f5;
   --ion-color-step-700: #90c4f1;
   --ion-color-step-750: #bfdefa;
   --ion-color-step-800: #d9ecfc;
   --ion-color-step-850: #a2afb9;
   --ion-color-step-900: #c8dbec;
   --ion-color-step-950: #d3e6f7;

   --ion-item-background: #025196;

  //  --ion-card-background: #025196;
  
   --ion-card-subtitle-color:#faf8f5;
  //  --ion-card-subtitle-color-rgb:rgb(253, 179, 56);
   --ion-item-background:#208dec;

   --ion-toolbar-background: #1a89eb;

   --ion-tab-bar-background: #1a89eb;

   --ion-card-background: #FDB338;
 }
 body[color-theme="light1"] {
  /** primary **/
--ion-color-primary: #3880ff;
--ion-color-primary-rgb: 56, 128, 255;
--ion-color-primary-contrast: #ffffff;
--ion-color-primary-contrast-rgb: 255, 255, 255;
--ion-color-primary-shade: #3171e0;
--ion-color-primary-tint: #4c8dff;

/** secondary **/
--ion-color-secondary: #3dc2ff;
--ion-color-secondary-rgb: 61, 194, 255;
--ion-color-secondary-contrast: #ffffff;
--ion-color-secondary-contrast-rgb: 255, 255, 255;
--ion-color-secondary-shade: #36abe0;
--ion-color-secondary-tint: #50c8ff;

/** tertiary **/
--ion-color-tertiary: #5260ff;
--ion-color-tertiary-rgb: 82, 96, 255;
--ion-color-tertiary-contrast: #ffffff;
--ion-color-tertiary-contrast-rgb: 255, 255, 255;
--ion-color-tertiary-shade: #4854e0;
--ion-color-tertiary-tint: #6370ff;

/** success **/
--ion-color-success: #2dd36f;
--ion-color-success-rgb: 45, 211, 111;
--ion-color-success-contrast: #ffffff;
--ion-color-success-contrast-rgb: 255, 255, 255;
--ion-color-success-shade: #28ba62;
--ion-color-success-tint: #42d77d;

/** warning **/
--ion-color-warning: #ffc409;
--ion-color-warning-rgb: 255, 196, 9;
--ion-color-warning-contrast: #000000;
--ion-color-warning-contrast-rgb: 0, 0, 0;
--ion-color-warning-shade: #e0ac08;
--ion-color-warning-tint: #ffca22;

/** danger **/
--ion-color-danger: #eb445a;
--ion-color-danger-rgb: 235, 68, 90;
--ion-color-danger-contrast: #ffffff;
--ion-color-danger-contrast-rgb: 255, 255, 255;
--ion-color-danger-shade: #cf3c4f;
--ion-color-danger-tint: #ed576b;

/** dark **/
--ion-color-dark: #222428;
--ion-color-dark-rgb: 34, 36, 40;
--ion-color-dark-contrast: #ffffff;
--ion-color-dark-contrast-rgb: 255, 255, 255;
--ion-color-dark-shade: #1e2023;
--ion-color-dark-tint: #383a3e;

/** medium **/
--ion-color-medium: #92949c;
--ion-color-medium-rgb: 146, 148, 156;
--ion-color-medium-contrast: #ffffff;
--ion-color-medium-contrast-rgb: 255, 255, 255;
--ion-color-medium-shade: #808289;
--ion-color-medium-tint: #9d9fa6;

/** light **/
--ion-color-light: #f4f5f8;
--ion-color-light-rgb: 244, 245, 248;
--ion-color-light-contrast: #000000;
--ion-color-light-contrast-rgb: 0, 0, 0;
--ion-color-light-shade: #d7d8da;
--ion-color-light-tint: #f5f6f9;
}

/*
* iOS Dark Theme
* -------------------------------------------
*/

 .ios body[color-theme="light1"] {
   --ion-background-color: #83D3D4;
   --ion-background-color-rgb: rgb(131,211,212);
   // --ion-datetime-background-color:#e1e423;
   // --ion-datetime-background-color-rgb:4,37,58;

   --ion-text-color: #910C07;
   --ion-text-color-rgb: rgb(145, 12, 7);

   --ion-color-step-50:  #83D3D4;
   --ion-color-step-100: #83D3D4;
   --ion-color-step-150: #83D3D4;
   --ion-color-step-200: #83D3D4;
   --ion-color-step-250: #83D3D4;
   --ion-color-step-300: #83D3D4;
   --ion-color-step-350: #83D3D4;
   --ion-color-step-400: #83D3D4;
   --ion-color-step-450: #83D3D4;
   --ion-color-step-500: #83D3D4;
   --ion-color-step-550: #83D3D4;
   --ion-color-step-600: #83D3D4;
   --ion-color-step-650: #83D3D4;
   --ion-color-step-700: #83D3D4;
   --ion-color-step-750: #83D3D4;
   --ion-color-step-800: #83D3D4;
   --ion-color-step-850: #83D3D4;
   --ion-color-step-900: #83D3D4;
   --ion-color-step-950: #83D3D4;

   --ion-item-background: #c0f7f8;

   --ion-card-background: #83D3D4;
  //  --ion-card-subtitle-color:#83D3D4;
  //  --ion-card-subtitle-color-rgb:rgb(131,211,212);
 }

.ios ion-modal {
 --ion-background-color: var(--ion-color-step-100);
 --ion-toolbar-background: var(--ion-color-step-150);
 --ion-toolbar-border-color: var(--ion-color-step-250);
}


/*
* Material Design Dark Theme
* -------------------------------------------
*/

.md body[color-theme="light1"] {
  --ion-background-color: #83D3D4;
  --ion-background-color-rgb: rgb(131,211,212);
  // --ion-datetime-background-color:#e1e423;
  // --ion-datetime-background-color-rgb:4,37,58;

  --ion-text-color: #910C07;
  --ion-text-color-rgb: rgb(145, 12, 7);

  --ion-color-step-50:  #343535;
  --ion-color-step-100: #73a8aa;
  --ion-color-step-150: #68b4b4;
  --ion-color-step-200: #8dcece;
  --ion-color-step-250: #95cccc;
  --ion-color-step-300: #b4d8da;
  --ion-color-step-350: #93adad;
  --ion-color-step-400: #b0c9c9;
  --ion-color-step-450: #a4b9b9;
  --ion-color-step-500: #d5e1e2;
  --ion-color-step-550: #d1dfdf;
  --ion-color-step-600: #cbd1d1;
  --ion-color-step-650: #d6dddd;
  --ion-color-step-700: #d0d6d6;
  --ion-color-step-750: #e0e5e6;
  --ion-color-step-800: #e3ecec;
  --ion-color-step-850: #ecf5f5;
  --ion-color-step-900: #e8fbfc;
  --ion-color-step-950: #83D3D4;

  --ion-item-background: #c0f7f8;

  --ion-card-background: var(--ion-color-step-50);
  // --ion-card-subtitle-color:#FFF;
  // --ion-card-subtitle-color-rgb:rgb(131,211,212);

 --ion-toolbar-background:#1b9c9e;

 --ion-tab-bar-background: #1cb5b8;
}
// }
