
// .logo-image {
//   width: 50px; 
//   height: 50px; 
//   border-radius: 20px;
// }

// ion-content{
//     background: url(/assets/bg/bg1.jpg);
//     background-repeat: no-repeat;
//   --background: transparent;
//   }
  .title{
    text-align: center;
    // color: #000080;
    font-weight: 600;
  }
 
  .select{
    width:80%; 
    // color: #000080;
    height: 70%; 
    border-radius: 3px;
    border: 1px solid black;
  }
  // .back{
  //   float: left;
  //   // color: #000080;
  // }
  
  // .bu{
  //   // border: 1px solid blueviolet;
  //   float: right;
  // }
  // .menu{
  //   cursor: pointer;
  //   float: right;
  //   // color: #000080;
    
  // }
  .search{
    cursor: pointer;
    // color: #a35504;
    font-size: 18px;
    float: right;
    // margin-top: 10px;
    // margin-left: 100%;
  }
  .head{
      font-weight: 600;
      // color: black;
    //   font-size: medium;
  }
  .head1{
font-weight: 400;
// color: #000080;
  }
  .row{
      border: 0.1px solid rgb(231, 222, 222);
  }
  .check{
    cursor: pointer;
    
  }
